@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 32px;
    cursor: pointer;
}

.nav-item a {
    font-family: 'Poppins';
    font-size: 16px;
    text-decoration: none;
    padding: 12px;
    color: rgb(69, 69, 69);
}

.nav-item a:hover {
    content: "";
    color: #000000;
    letter-spacing: 2px;
    transition: all 0.8s;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
}

.column-left .title {
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: bold;
    text-align: right;
}

.column-left .desc {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: none;
    text-align: right;
}

.column-right img {
    width: 400px;
    height: 600px;
}

footer {
    width: 100%;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

footer .footer-text {
    font-family: 'Poppins';
    font-size: 14px;
    color: rgb(32, 32, 32);
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
    padding: 0 100px;
    background-color: rgba(252, 252, 74, 0.715);
}

.content-left {
    background-color: rgba(234, 240, 157, 0.61);
}

.content-left .content-title {
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 0 50px;
}

.content-right object {
    position: relative;
    width: 350px;
    height: 350px;
}


@media screen and (max-width: 768px) {
    .hero-container {
      grid-template-columns: 1fr;
    }
    .column-left .title {
        text-align: center;
    }
    .column-left .desc {
        text-align: center;
    }
}